body {
    font-family: "Arial", sans-serif;
    background-color: white;
    color: black;
    font-size: 1rem;
    letter-spacing: 0.03em;
    line-height: 1.14;
}

*:focus-visible {
    outline: none;
}


h1,
h2,
h3,
h4,
p,
ul,
li {
    margin: 0;
}

ul,
li {
    text-decoration: none;
    padding: 0;
}

img {
    display: block;
    height: auto;
}

.shadow {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.7);
}

.white-sheet {
    display: flex;
    max-width: 1400px;
    flex-direction: row-reverse;
    margin-left: auto;
    margin-right: auto;
}

.main-section {
    padding: 2rem;
    padding-bottom: 0;
}

.section {
    padding-bottom: 0;
}

.subsection {
    list-style: none;
    margin-bottom: 1rem;
}

.subsection-item {
    margin-bottom: 1rem;
}

.hero-section {
    display: flex;
    align-items: center;
    height: 15rem;
}

.work-experience {
    list-style: none;
}

.h1-title {
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.h2-title {
    display: block;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.5;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #356c93;
}

.h2-underline {
    border-bottom: 3px solid #356c93;
}

.h3-title {
    display: block;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.h4-title {
    display: block;
    font-size: 1rem;
}

.company {
    color: rgb(233, 124, 148);
}

.text {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}

.job {
    font-weight: 600;
    font-style: italic;
    font-size: 1rem;
    color: #356c93;
}

.location {
    font-size: 0.8rem;
}

.text-accent {
    font-weight: 600;
    font-size: 0.8rem;
    font-style: italic;
}

.square-style {
    list-style: disc;
    padding-left: 1rem;
}

.link-set {
    display: flex;
    margin-bottom: 1rem;
}

.link {
    color: inherit;
    background-color: transparent;
    /* text-decoration: none; */
}

.contact {
    font-weight: 300;
}

.link-bordered {
    display: inline-block;
    width: fit-content;
    padding: 0.5rem 2rem;
    border: 2px solid #356c93;
    border-radius: 0.5rem;
    margin-right: 5rem;
    margin-left: 2rem;
}

.link-bordered:hover,
.link-bordered:focus {
    background-color: #356c93;
    color: white;
}

.work-list {
    padding: 0;
    margin-left: 15px;
}

.work-list-item {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    list-style: inside;
    color: #356c93;
}

.button {
    width: 130px;
    padding: 0.25rem;
    background-color: white;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.aside-section {
    width: 24rem;
    padding: 1.5rem;
    background-color: #bfd2d5;
}

.aside-img {
    width: 21rem;
    margin-bottom: 1.5rem;
    border-radius: 2rem;
}

.aside-inner {
    padding: 1rem 0;
}

.aside-item {
    margin-bottom: 1.5rem;
}

.aside-subsection li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.contact-item:hover,
.contact-item:focus {
    color: #356c93;
    cursor: pointer;
    fill: #356c93;
}

.contact-icon {
    width: 1.5vw;
    height: 1.5vw;
    margin-right: 0.5vw;
}